* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

i {
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  display: block;
  color: var(--heading-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --theme-color: #e40000;
  --primary-color: #0d369f;
  --primary-light: #fcf1e7;
  --primary-dark: #ffc945;
  --secondary-color: #ff6e65;
  --font-color: #707070;
  --bg-color: #fff;
  --bg-color-2: #fff;
  --heading-color: #060606;
  --footer-color: #060e1f;
  --footer-cpy-color: #040a17;
  --border-radius: 30px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f9f9f9;
  --bg-light: #f8f9ff;
  --bg-dark-color: #fff;
  --quote-text-color: #1d2c4c;
  --placeholder-color-search: #6c757d;
  --bg-color-li: rgb(13 54 159 / 9%);
  --box-shadow-color: rgb(4 20 69 / 10%);
  --logo-color: #0d369f;
}

[data-theme="dark"] {
  --theme-color: #e40000;
  --primary-color: #4867b0;
  --primary-light: #ffc945;
  --secondary-color: #ff6e65;
  --primary-dark: #00070c;
  --font-color: #b7b7b7;
  --bg-color: #161c2d;
  --bg-color-2: transparent;
  --heading-color: #fdfffc;
  --footer-color: #0e0e0e;
  --footer-cpy-color: #060606;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --iframe-filter: grayscale(100%);
  --bg-grey: #060e1f;
  --bg-light: #121725;
  --bg-dark-color: #27282b;
  --quote-text-color: #e6e6e6;
  --placeholder-color-search: #eee;
  --bg-color-li: rgb(168 176 195 / 11%);
  --box-shadow-color: hsla(222, 34%, 17%, 1);
  --logo-color: #fff;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-size: 2.1875rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--heading-color);
}

h3 {
  font-size: 1.125rem;
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p,
a,
span {
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

a,
a:hover,
a::before,
a::after,
li,
li::before,
li::after,
button,
button:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-weight: 400;
}

p,
span {
  color: var(--font-color);
}

img {
  width: 100%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

/* Header */
body > a {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  background-color: var(--primary-color);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

body > a i {
  color: #fff;
}

.visibleButton {
  opacity: 1;
  visibility: visible;
}
.header--sticky {
  padding: 0px;
  border-bottom: none;
  z-index: 100 !important;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.header__top {
  background-color: var(--primary-color);
  padding: 1rem 0;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top__left a {
  color: #fff;
  margin-right: 1.5rem;
}

.header__top__left a i,
.header__top__right a i {
  color: #fff;
}

.header__top__right a {
  margin-left: 1rem;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.header__bottom--changed {
  padding: 0 !important;
}

.header__bottom {
  padding: 1rem 0;
  background-color: var(--bg-color);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

a.navbar-brand {
  font-size: 1.625rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--heading-color);
}
.navbar-brand img {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.navbar > a:hover {
  color: var(--secondary-color);
}

.navbar-nav a {
  font-weight: 400;
  color: var(--heading-color);
}
.navbar-nav a:hover {
  color: var(--secondary-color);
}

.form-inline {
  position: relative;
}

.form-inline input {
  border-radius: var(--border-radius);
  padding: 0.8rem 1.3rem;
  background-color: transparent;
  border: 2px solid #eee;
  margin-left: 1rem;
}

.form-inline button {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  background-color: transparent;
  border: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 50%;
}

.dropdown-menu {
  transform: translateX(-50px);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 0.8rem 0;
}

.dropdown-menu a:hover {
  background-color: transparent;
}

/* THEME
toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}

.theme-switch input {
  display: none;
}

/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 3px 0;
  margin-left: 20px;
  text-align: center;
}

.fa-sun {
  display: none;
}

.fa-moon {
  display: block;
}

input:checked + .mode-container i.fa-sun {
  display: block;
}

input:checked + .mode-container i.fa-moon {
  display: none;
}

/* Carousel */

.slider__item {
  background: url(../images/banner2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.slider__item--2 {
  background: url(../images/banner3.jpg);
  background-size: cover;
}

.slider__item::before {
  content: "";
  background: linear-gradient(
    75deg,
    rgb(16 16 16 / 34%) 10%,
    rgb(230 2 100 / 0%)
  );
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
}

.slider__item div {
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translate(0, -50%);
  width: 50%;
}

.slider__item div h1 {
  font-size: 3.5rem;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
}

.slider__item div a {
  display: block;
  padding: 0.875rem 1.875rem;
  font-weight: 600;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.5s ease-in-out;
  width: fit-content;
}

.slider__item div a:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

.slider__item div a i {
  color: #060606;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  margin-left: 0.3rem;
  /* vertical-align:baseline; */
}

.slider__item div a:hover i {
  color: #fff;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ffffff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff6e65;
}
